
/*extra small*/

@media screen and  (max-width: 576px) {
    .slider-container {
        max-width: 316px;
    }
    

    .widgeArticle{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .widget {
        width: 250px;
    }
    .contactSectionDiv h2{
        padding-top: 130px;
      }
    
    .bookingDiv{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    } 
    
}

/*small*/

@media screen and  (min-width: 576px) {   

    .slider-container {
        max-width: 265px;
    }  

    .widgeArticle{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .contactSectionDiv h2{
        padding-top: 130px;
      }
}


/* medium */

@media screen and  (min-width: 768px) {
   
    .slider-container {
        max-width: 525px;
    }
    

    .widgeArticle{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .contactSectionDiv h2{
        padding-top: 170px;
      }

} 



/* large */

@media screen and  (min-width: 992px) {
    
    .slider-container {
        max-width: 525px;
    }
    
    .widgeArticle{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    
    .contactSectionDiv h2{
        padding-top: 180px;
      }
} 


/* extra large */

@media screen and  (min-width: 1200px) {
    .slider-container {
        max-width: 780px;
    }
    .widgeArticle{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    
    .contactSectionDiv h2{
        padding-top: 180px;
      }
  
}

/* extra extra large */

@media screen and  (min-width: 1400px) {
    .slider-container {
        max-width: 1045px;
    }
    .contactSectionDiv h2{
        padding-top: 180px;
      }
  
}


