* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

img {
    vertical-align: middle;
}

body {
    font-family: "Amaranth", sans-serif;
    background-image: url(./images/bodyimage.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

p {
    font-family: "Nunito", sans-serif;
}

.ridesSectionDiv,
.packagesSectionDiv,
.contactSectionDiv {
    margin-top: 5rem;
}

.introSectionDiv {
    position: relative;
    background-image: url("./images/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 85vh;
    border-radius: 5%;
}

.introSectionContent {
    position: absolute;
    color: white;
    padding-bottom: 2rem;
}

/* Black transparent gradient overlay */
.introSectionDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    /* Adjust the opacity (0.7) as needed */

}

.ridesSectionDiv {
    width: 100%;
    height: 85vh;

}

.card {
    flex: 0 0 auto;
    width: 250px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

.card img {
    border-radius: 5px;
}

.card-content {
    text-align: center;
    padding-top: 10px;
}

.slider-container {
    width: 80%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.prev-btn,
.next-btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.widgeArticle {
    background-color: #f7f1f7;
    background-image: linear-gradient(0deg, #f7f1f7 0%, #97D9E1 100%);

}

.widgetwrap {
    background-color: white;
    transform: rotate(8deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

.widget {
    width: 400px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    margin: 10px;
}

.groupimage {
    background-image: url('./images/group.webp');
}

.familyimage {
    background-image: url('./images/family.jpeg');
}

.studentimage {
    background-image: url('./images/students.jpeg');
}

.widgetext {
    padding-left: 1rem;
    padding-right: 1rem;
}

.widgetP {
    max-width: 576px;
}

.oldprice {
    text-decoration: line-through;
}

.booknowButton,
.sendButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b5ea2;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Hover effect */
.booknowButton:hover,
.sendButton:hover {
    background-color: #103a64;
    /* Darker blue - This can be adjusted */
}

.contactSection {
    background-image: url(./images/wave.avif);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.contactCard {
    padding: 10px;
    border: 1px solid #514e4e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 50px;
    
}

.contactDetails {
    margin-bottom: 50px;
    padding-left: 50px;
}

.contactList li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.contactList li i {
    margin-right: 10px;
}

footer {
    background-color: #d8d8d8;
    color: #545454;
    padding: 15px;
}